

#quoteContainer{
  background-color:white;
  width:700px;
  vertical-align:middle;
  margin:auto;  
  padding: 70px 0;
  height:auto;
}
#quoteBox{
background-color:white;
  padding:10px 0;
  width:600px;
  margin:auto;
  paddding-bottom:10px;
  padding-left:20px;
  padding-right:20px;
  height:auto;
}
#quoteAutor{
font-weight:bold;
  font-size:20px;
 text-align:right;
}
#quote{
  font-weight:bold;
  font-size:20px;
  padding-top:10px;
  padding-bottom:10px;
  heigth:auto;
  text-align:center;
}

#quoteButtons{
  padding-top:20px;

  text-align:right;
  width:600px;
  margin:auto;
  background-color:white;
  
}
#newQuoteButton{
  border:none;
   font-weight:bold;
  border-radius:4px;
  background-color:yellow;
  width:100px;
 height:35px;
  padding:0px;
}
#twitterLogo{
  width:20px;
  height:20px;
  background-color:yellow;
  color:white;
}
.LogoTwitter{
  text-align:left;
  font-size:30px;
}
.navigationButtons{
border-radius:4px;
  color:white;
  width: 100px;
  text-align: center;
}
